.navbar {
    height: 6em;
    background-color: #1e636d;
}

.footer {
    /* position : fixed; */
    bottom: 0;
    /* margin-top: 2rem; */
    width: 100%;
  /*   height: 60px; */
   /*  line-height: 60px; */
    background:#eaeaea;
}

.btn-info{
    background-color: #1e636d;
    border-color: #1e636d;
}
.badge-info{
    background-color: #1e636d;
    border-color: #1e636d;
}
body {
   margin-bottom: 100px;
   font-family: 'Titillium Web', sans-serif;
}

.logo {
    position: absolute;
    height: 3em;
    width: auto;
    top: 1.2em;
    left: 0.7em;
    content: url('/img/logo.png');
}

.card{
    background-color: white;
    max-width: 24rem;
    border-color: #1e636d;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
 
.material-icons{
    font-size:60px;
}
.icon-form{
    font-size: 30px;
}
input{
    text-transform: uppercase;
}
.shadow-input{
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}