    <!-- formulario registro -->
    <div class="container">
      <div class="row mt-4 mb-4" >
        <div class="col d-flex justify-content-center">
          <h2 style="color:#1e636d">Registro</h2>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input type="text" class="shadow-input form-control rounded-pill" name="NOMBRE" placeholder="NOMBRE(S)" required>
            </div>
            <div class="form-group">
              <input type="text" class="shadow-input form-control rounded-pill" name="APELLIDO_PATERNO" placeholder="APELLIDO PATERNO" required >
            </div>
            <div class="form-group">
              <input type="text" class="shadow-input form-control rounded-pill" name="APELLIDO_MATERNO" placeholder="APELLIDO MATERNO">
            </div>
            <div class="form-group">
              <input type="email" class="shadow-input form-control rounded-pill" name="CORREO" placeholder="CORREO ELECTRÓNICO" required>
            </div>
            <div class="form-group">
              <input type="password" class="shadow-input form-control rounded-pill" name="PASSWORD" placeholder="CONTRASEÑA" required>
            </div>
            
            <div class="form-group">
              <label for="ID_PERFIL" class="col-3 col-form-label">PERFIL</label>
                <select required class="shadow-input col-9 form-control rounded-pill" name="ID_PERFIL" id="inlineFormCustomSelectPref">
                    <option selected></option>
                    <option value="1">ADMINISTRADOR</option>
                    <option value="2">APOYO</option>
                </select>
            </div>   

            {{!-- <div class="form-group">
              <input type="password" class="form-control rounded-pill" placeholder="CONFIRMAR CONTRASEÑA">
            </div> --}}
            <div class="d-flex justify-content-center mt-3">
              <button type="submit" class="btn btn-primary bg-info text-white border-info">
                  Registrarse
              </button>
            </div>
            <div class="form-group mt-3">
                <p>
                    ¿Ya tienes cuenta?
                    <a href="/signin">Inicia Sesión</a>
                </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- finaliza formulario -->
