<!--botones menu -->
  {{#if user}}
    <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col text-center mx-auto">
        <div class="card-deck text-center">
          <div class="card">
            <div class="card-header border-bottom-0">
              <i class="material-icons">person_add</i>
            </div>
            <div class="card-body">
              <a href="/links/addbenef" style="color:#1e636d">
                <h5 class="card-title">Agregar registros</h5>
              </a>
              <p class="card-text">Agregar beneficiarios a la base de datos.</p>
            </div>
          </div>
    
          <div class="card">
            <div class="card-header border-bottom-0">
              <i class="material-icons">call </i>
            </div>
            <div class="card-body">
              <a href="/links/allbenef" style="color:#1e636d">
                <h5 class="card-title">Contactar a beneficiarios</h5>
              </a>
              <p class="card-text">Total de beneficiarios registrados en el padrón </p>
            </div>
          </div>

          <div class="card">
            <div class="card-header border-bottom-0">
              <i class="material-icons">check_circle_outline</i>
            </div>
            <div class="card-body">
              <a href="/links/searchbenef" style="color:#1e636d">
                <h5 class="card-title">Registrar asistencia y entrega</h5>
              </a>
              <p class="card-text">Registro de asistencia de beneficiarios</p>
            </div>
          </div>

          <div class="card">
            <div class="card-header border-bottom-0">
              <i class="material-icons">info</i>
            </div>
            <div class="card-body">
              <a href="/links/listbenef" style="color:#1e636d">
                <h5 class="card-title">Validar beneficiarios notificados</h5>
              </a>
              <p class="card-text">Enlistar los beneficiarios que han sido contactados.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  {{/if}}    
<!--botones menu -->

    
