{{!-- <footer class="footer tm-2">
    <div class="container ">
        <div class="row">
            <div class="col text-left">
                <span class="text-muted">Sistema para el Control de Entrega de Programas Sociales</span>
            </div>
            <div class="col text-right">
                <span class="text-muted">Gobierno de Zapopan</span>
            </div>
        </div>
    </div>
</footer> --}}

<footer class="page-footer font-small mdb-color footer">
  <div class="row">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4">Gobierno de Zapopan</h6>
        <hr>
            <!-- Grid row -->
        <div class="row d-flex align-items-center">

        <!-- Grid column -->
            <div class="col-md-3 col-lg-3 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item mx-auto">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="blank" href="https://www.facebook.com/ZapopanGob/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="blank" href="https://www.instagram.com/zapopangob/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="blank" href="https://twitter.com/zapopangob/">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" target="blank" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
      </div>

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Av. Hidalgo 151, Zapopan, Jal.</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> webmaster@zapopan.gob.mx</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 33 3818 2200</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    </div>
  </div>
  <!-- Footer Links -->
</footer>