<footer class="footer tm-2">
    <div class="container ">
        <div class="row">
            <div class="col text-left">
                <span class="text-muted">Sistema para el Control de Entrega de Programas Sociales</span>
            </div>
            <div class="col text-right">
                <span class="text-muted">Gobierno de Zapopan</span>
            </div>
        </div>
    </div>
</footer>