<nav class="navbar navbar-expand-lg" style="background-color: #eaeaea;">
  <div class="container">
    <a class="navbar-brand" href="/menu" style="color: #1e636d;">SI.ENTREGA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #1e636d;">
          Acciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links/addbenef" style="color: #1e636d;">Agregar Beneficiario al padrón</a>
          <a class="dropdown-item" href="/links/allbenef" style="color: #1e636d;">Registrar llamada a Beneficiario</a>
          <a class="dropdown-item" href="/links/listbenef" style="color: #1e636d;">Consultar Beneficiarios contactados</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/links/searchbenef" style="color: #1e636d;">Buscar Beneficiario en evento</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text" href="/logout" style="color: #1e636d;">Cerrar Sesión</a>
      </li>
      {{/if}}

      </ul>
    </div>
  </div>
</nav>

{{!-- <header style="background-color: #eaeaea ">
      <div class="container-fluid ">
        <div class="row pt-2 pb-2 ">
          <div class="col align-self-center ">
            <img src="http://placehold.it/200x80" alt="">
          </div>
          <div class="col-9 align-self-center" style="color:#1e636d">
            <h3>Sistema para el Control de Entrega de Programas Sociales (SI-ENTREGA)</h3>
          </div>
        <div>
      </div>
  </div>
</header> --}}